<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdfbusca.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar e Gerar PDF</title>
</head>
<body>
    <header>
        <div class="logo">GDPL - ACADEMIAS</div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="{{ url_for('menu') }}">Painel</a></li>
                <li><a href="{{ url_for('adicionar_aluno') }}">Adicionar Alunos</a></li>
                <li><a href="{{ url_for('adicionar_treino') }}">Treinos</a></li>
                <li><a href="{{ url_for('buscar_e_gerar_pdf') }}">Fichas de treinos</a></li>
                <li><a href="https://wa.me/5511946691016?text=Olá%2C%20gostaria%20de%20mais%20informações." target="_blank">Suporte</a></li>
            </ul>
        </aside>
        <main>
            <h1>Gerar PDF de Treino</h1>
            <div class="card">
                <div class="card-header">
                    <div class="text-header">Gerar PDF de Treino</div>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('buscar_e_gerar_pdf') }}" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome do Aluno:</label>
                            <input required class="form-control" name="nome" id="nome" type="text" placeholder="Nome">
                        </div>
                        <div>
                            <input type="submit" class="btn" name="buscar_aluno" value="Buscar Aluno">
                        </div>
                    </form>
                    
                    {% if alunos %}
                    
                        <form action="{{ url_for('buscar_e_gerar_pdf') }}" method="POST">
                            <input type="hidden" name="nome" value="{{ request.form['nome'] }}">
                            <h3>Selecionar Treinos:</h3>
                            {% for aluno in alunos %}
                                <h4>{{ aluno.nome }}</h4><br>
                                {% for treino in aluno.treinos %}
                                    <input type="checkbox" name="treino" value="{{ treino.id_treino }}">
                                    <label for="treino">{{ treino.treino_tipo }}</label><br>
                                {% endfor %}
                            {% endfor %}
                        
                
                            <div class="form-group">
                                <input type="submit" class="btn" name="gerar_pdf" value="Gerar PDF">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
    <footer>
        
    </footer>
</body>
</html>
