<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Aluno</title>
    <style>
        /* Estilos CSS anteriores mantidos */
    </style>
</head>
<body>
    <header>
        <div class="logo">GDPL - ACADEMIAS</div>
    </header>
    <div class="container">
        <aside class="sidebar">
            <br>
            <!-- Formulário de busca de aluno -->
            <div class="card">
                <div class="card-header">
                    <div class="text-header">Buscar Aluno</div>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('ficha') }}" method="POST">
                        <div class="form-group">
                            <input required class="form-control" name="nome_busca" id="nome_busca" type="text" placeholder="Nome do Aluno">
                            <label for="nome_busca">Buscar Aluno por Nome:</label>
                        
                            <input type="hidden" name="form_type" value="buscar_aluno">
                            <input type="submit" class="btn" value="Buscar">
                        </div>
                    </form>
                    <ul>
                        <li><a href="{{ url_for('menu') }}">Painel</a></li>
                        <li><a href="{{ url_for('adicionar_aluno') }}">Adicionar Alunos</a></li>
                        <li><a href="{{ url_for('adicionar_treino') }}">Treinos</a></li>
                        <li><a href="{{ url_for('buscar_e_gerar_pdf') }}">Fichas de treinos</a></li>
                        <li><a href="https://wa.me/5511946691016?text=Olá%2C%20gostaria%20de%20mais%20informações." target="_blank">Suporte</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <h1>Ficha do Aluno</h1>
            {% if aluno %}
            <div class="card">
                <div class="card-header">
                    <div class="text-header">Editar informações</div>
                </div>
                <div class="card-body">
                    <form id="form-ficha" action="{{ url_for('ficha') }}" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input required class="form-control" name="nome" id="nome" type="text" value="{{ aluno.nome }}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input required class="form-control" name="email" id="email" type="email" value="{{ aluno.email }}">
                        </div>
                        <div class="form-group">
                            <label for="idade">Idade:</label>
                            <input class="form-control" name="idade" id="idade" type="number" value="{{ aluno.idade }}">
                        </div>
                        <div class="form-group">
                            <label for="peso_atu">Peso Atual:</label>
                            <input class="form-control" name="peso_atu" id="peso_atu" type="number" step="0.1" value="{{ aluno.peso_atu }}">
                        </div>
                        <div class="form-group">
                            <label for="peso_alvo">Peso Alvo:</label>
                            <input class="form-control" name="peso_alvo" id="peso_alvo" type="number" step="0.1" value="{{ aluno.peso_alvo }}">
                        </div>
                        <div class="form-group">
                            <label for="tp_pagto">Tipo de Pagamento:</label>
                            <input class="form-control" name="tp_pagto" id="tp_pagto" type="text" value="{{ aluno.tp_pagto }}">
                        </div>
                        <div class="form-group">
                            <label for="status_aluno">Status:</label>
                            <select class="form-control" name="status_aluno" id="status_aluno">
                                <option value="0" {% if aluno.status_aluno == 0 %}selected{% endif %}>Ativo</option>
                                <option value="1" {% if aluno.status_aluno == 1 %}selected{% endif %}>Inativo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="form_type" value="atualizar_aluno">
                            <input type="hidden" name="id_aluno" value="{{ aluno.id_aluno }}">
                            <input type="submit" class="btn" value="Salvar Alterações">
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
                <p>Nenhum aluno encontrado.</p>
            {% endif %}
        </main>
    </div>
    <footer>
        <!-- Adicione o conteúdo do rodapé aqui -->
    </footer>
</body>
</html>
